{{ if eq .chezmoi.os "windows" -}}
scoop install starship zoxide fzf
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install starship zoxide fzf uutils-coreutils git atuin
/opt/homebrew/opt/fzf/install --no-bash --all
{{ else if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/sh
sudo pacman -Sy starship zoxide fzf git atuin --noconfirm
{{ end -}}
